body {
    background-color: lightgray;
}

h1 {
     color: #0cada7;
     background-color: white;
     font-family: times new roman;
     font-weight: bold;
}

h3 {
     color: #0cada7;
     background-color: white;
     font-family: times new roman;
     font-weight: bold;
}

img {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

p {
   font-family: sans-serif;
   font-size: 12
}
a {
  color: white
}
.container {
  background-color: white;
}

.navbar {
         padding-left: 50px;
}

.navbar-brand {
               background-color: #0cada7;
               font-family: times new roman;
               font-weight: bold;
               color: white;
}
.footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                background-color: #616161;
                color: white;
                box-sizing: border-box;
                padding-top: 15px;
                margin-top: 18px;
                border-top: 4px solid red;
                height: 55px; 
                border-color: rgb(12, 173, 167);
                text-align: center;
}
.container-fluid{
                padding-right: 15px;
                padding-left: 15px;
                margin-right: auto;
                margin-left: auto;
              }
.row {
                margin-right: -15px;
                margin-left: -15px;
}


/* Here we define a navbar style that will ONLY be applied at screen sizes below 480 pixels */
@media (max-width: 480px) {
  .navbar {
    background-color: #0cada7;
}

  .navbar-brand {
                 background-color: white;
                 font-family: times new roman;
                 font-weight: bold;
                 color: #0cada7;                 
}

